$ll-primary-color: #d87edf;
$l-primary-color: #bb31c7;
$primary-color: #6f1d76;
$d-primary-color: #230925;
$dd-primary-color: #000000;
$ll-secondary-color: #837adc;
$l-secondary-color: #4032bf;
$secondary-color: #251d6f;
$d-secondary-color: #0a081f;
$dd-secondary-color: #000000;
$ll-highlight-color: #8ce6b4;
$l-highlight-color: #39d47e;
$highlight-color: #1e8a4e;
$d-highlight-color: #0c371f;
$dd-highlight-color: #000000;
$ll-light-color: #ffffff;
$l-light-color: #f9eafa;
$light-color: #e099e6;
$d-light-color: #c748d2;
$dd-light-color: #892491;
$ll-grey-color: #b6a6b7;
$l-grey-color: #876f89;
$grey-color: #504251;
$d-grey-color: #191519;
$dd-grey-color: #000000;
$ll-dark-color: #656565;
$l-dark-color: #323232;
$dark-color: #000000;
$d-dark-color: #000000;
$dd-dark-color: #000000;
