$ll-primary-color: #8d55c2;
$l-primary-color: #773eac;
$primary-color: #60328b;
$d-primary-color: #49266a;
$dd-primary-color: #331a49;
$ll-secondary-color: #7f70d3;
$l-secondary-color: #604ec9;
$secondary-color: #4937b3;
$d-secondary-color: #3b2d91;
$dd-secondary-color: #2d226f;
$ll-highlight-color: #334b5b;
$l-highlight-color: #23343f;
$highlight-color: #131c22;
$d-highlight-color: #030405;
$dd-highlight-color: #000000;
$ll-light-color: #ccb3e4;
$l-light-color: #b692d8;
$light-color: #a071cc;
$d-light-color: #8a50c0;
$dd-light-color: #743ca8;
$ll-grey-color: #8b8b8b;
$l-grey-color: #747474;
$grey-color: #5e5e5e;
$d-grey-color: #484848;
$dd-grey-color: #313131;
$ll-dark-color: #2d2d2d;
$l-dark-color: #161616;
$dark-color: #000000;
$d-dark-color: #000000;
$dd-dark-color: #000000;
