$ll-primary-color: #d4f4ee;
$l-primary-color: #82dece;
$primary-color: #34c3aa;
$d-primary-color: #1e7162;
$dd-primary-color: #081e1a;
$ll-secondary-color: #fbeef8;
$l-secondary-color: #e69ad5;
$secondary-color: #d246b2;
$d-secondary-color: #8d2275;
$dd-secondary-color: #390e2f;
$ll-highlight-color: #908ed8;
$l-highlight-color: #4441bd;
$highlight-color: #28266f;
$d-highlight-color: #0c0b21;
$dd-highlight-color: #000000;
$ll-light-color: #ffffff;
$l-light-color: #ffffff;
$light-color: #e2f7f4;
$d-light-color: #90e0d5;
$dd-light-color: #3ecab6;
$ll-grey-color: #e3e3e3;
$l-grey-color: #afafaf;
$grey-color: #7b7b7b;
$d-grey-color: #474747;
$dd-grey-color: #131313;
$ll-dark-color: #2eb7a0;
$l-dark-color: #196457;
$dark-color: #04100e;
$d-dark-color: #000000;
$dd-dark-color: #000000;