












$wood: rgba(#A28065, .75);
$contrast: 35%;

$floorColor: rgba(183, 203, 200, .85);
$envColor: lighten(desaturate($floorColor, $contrast), $contrast);

$woodImage: '/images/wood-2.png';
$woodImage2: '/images/texture_woodold.png';

$darkWoodTexture: linear-gradient(darken($wood, $contrast), darken($wood, $contrast*2)), url($woodImage2);
$backWoodTexture: linear-gradient($wood, darken($wood, $contrast/2)), url($woodImage);
$frontWoodTexture: linear-gradient( lighten($wood, $contrast/2), lighten($wood, $contrast/4)), url($woodImage2);
$woodBorder: 4px outset darken($wood, $contrast);

$schoolBrick: '/images/brick1.png';
$roughStone: '/images/texture_stonerough.png';
$pattern: '/images/gray-tile-pattern.png';

$wallTexture: linear-gradient(lighten($envColor, $contrast), darken($envColor, $contrast)), url($schoolBrick);
$floorTexture: linear-gradient(darken($floorColor, $contrast/2), $floorColor), url($pattern);

$metal: '/images/texture_metalplate.png';

$displayBox: rgba(130, 170, 172, .8);
$displayBorder: 4px inset darken($displayBox, $contrast/2);

#labScreen { 
    width: 100%;
    height: 95vh;
    background-color: black; 
    border:4px inset black;
    * { font-size: 15px; }
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
}

.hold {
    cursor: grabbing;
}

#topHalf {
    height:40%;
    background: $wallTexture;
    display: flex;
    background-size: contain;
    border-bottom: 4px solid darken($envColor, $contrast);
}
#bottomHalf {
    border-top: 4px solid  darken($floorColor, $contrast);
    height:60%;
    background: $floorTexture;
    display: flex;
    background-size: cover;
}

.item-weight, .item-volume, .item-description, .item-properties, .item-contents { display: none; }

.item-name { 
    img {
        width: 100%;
        max-width: 60px;
    }
}

#studentTray {
    background: linear-gradient($displayBox, $displayBox), url($metal);
    margin: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: $displayBorder;
    padding:10px;
    border-radius: 20px;
}

#shelveSection {
    width: 40%;
    margin-bottom: 20px;
    background-color: darken($wood, $contrast);
    background: $backWoodTexture;
    display: flex;
    border-bottom: 8px solid black;
    border-left: 16px solid darken($wood, $contrast);
    border-right: 6px solid darken($wood, $contrast);
    border-top: 4px solid lighten($wood, $contrast);
}

.shelf{
    width: 50%; 
    height: 92%; 
    border: $woodBorder;
    margin: 2%;
}

.open-shelf {
    background:  $darkWoodTexture;
    .shelf-contents {
        display: block;
    }

}

.close-shelf {
    background:  $frontWoodTexture;
    .shelf-contents {
        display: none;
    }
}

#examiner { 
    width: 30%;
    margin: 2%;
    background-color: $displayBox;
    text-align:center;
    border: $displayBorder;
    padding:10px;
    .item-weight, .item-volume, .item-description, .item-properties, .item-contents { display: block; }
    border-radius: 20px;
    .item-name { display:none;}
}

#wholeTable {
    width: 70%;
    margin-top: 2%;
    margin-left: 2%;
    background:reds;
    padding-right:60px;
}

$tableColor: rgba(19, 17, 15, .75);

#tableTop {
    height: 85%;
    background: linear-gradient(
        darken($tableColor, $contrast) 0%, 
        $tableColor 20%, 
        $tableColor 60%, 
        lighten($tableColor, $contrast/2),
        $tableColor 80%, 
        lighten($tableColor, $contrast/6) 100%), url('/images/texture_rock.png');
    display: flex;
    padding:20px;
    flex-wrap: wrap;
    border: 2px outset lighten($tableColor, $contrast/2);
    border-top-width: 1px;
    border-radius:10px;
    margin-bottom:-10px;
    z-index:100;
}

#tableLeft {
    width:80%;
}

#tableSink {
    width:20%;
    
}

#drawers {
    z-index:1;
    padding: 1%;
    height: 18%;
    display: flex;
    background: $backWoodTexture;
    border-top:8px solid black;
    background-repeat: repeat;
}

.drawer {
    width: 48%;
    height: 100%;
    margin: 1%;
    background: $frontWoodTexture;
    border: $woodBorder;
}

$dropColor: rgba(180,180,180,.1);

.dropzone {
}
.dropzone:empty {
    border: 3px dashed #bbd;
}

.drop-section {
    width: 23%;
    min-width:80px;
    height: 60px;
    margin: 1%;
    background-color: $dropColor;
    
    
}
.drop-column {
    width: 30%;
    height: 140px;
    margin: 1%;
    background-color: $dropColor;
    margin-top:50px;
}
.drop-sink {
    width: 100%;
    height: 140px;
    background-color: $dropColor;
    background: url($metal)
}
.drop-row {
    width: 98%;
    min-height: 40%;
    margin: 1%;
    background-color: $dropColor;
}

.waterButton {
    cursor: pointer;
    color: white;
    border: 2px outset grey;
    padding: 10px;
    border-radius: 20px;
}

.waterHot {
    background-color: rgba(#d22, .4);
    &:hover {
        background-color: rgba(#d22, .8);
    }
    &:active {
        background-color: rgba(#f99, .8);
    }

}

.waterCold {
    background-color: rgba(#22d, .4);
    &:hover {
        background-color: rgba(#22d, .8);
    }
    &:active {
        background-color: rgba(#99f, .8);
    }
}


.drag-item {
    display: flex;
    padding:20px;
    border: 4px solid black;
    height:100%;
    max-height:100%;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.drag-item:active, .hold-drag {
    cursor: grabbing !important;
}

.hover {
    background-color: green;
}

.invisible {
    display: none;
}